/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: "FOCAL_SUBSET" {
        // the ${params.plink_species} is read directly by the local module
        ext.args = "--geno ${params.plink_geno} --not-chr 0"
        publishDir = [
            enabled: false
        ]
    }

    withName: "ANCIENT_SUBSET" {
        // the ${params.plink_species} is read directly by the local module
        ext.args = "--geno ${params.plink_geno} --not-chr 0"
        publishDir = [
            enabled: false
        ]
    }

    withName: "FOCAL_RECODE|ANCIENT_RECODE" {
        // will be added after "--prefix" option
        ext.args = { "bgz vcf-iid ${params.plink_species}" }
        publishDir = [
            enabled: false
        ]
    }

    withName: "FOCAL_TABIX" {
        publishDir = [
            path: { "${params.outdir}/focal" },
            mode: params.publish_dir_mode,
            pattern: "*.{tbi,csi}"
        ]
    }

    withName: "ANCIENT_TABIX" {
        publishDir = [
            enabled: false
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
